{% include 'common/header.html' %}
<div class="page-body-wrapper horizontal-menu"  style='padding-right: 0px'>
<div class="page-body" style="margin-left: 10px;">
   <form class="theme-form" action="/manual-simulation/result" enctype="multipart/form-data" method="POST" name='myForm' id='myForm'>
      {% csrf_token %}
   <div style='float:right;'>
   <button type='submit' class="btn btn-primary">Start Simulation</button>
   <button class="btn btn-secondary">Reset Values</button> 
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-3">
         <h2>Semi-Auto Simulation</h2>
         <br>
         <div class="card" id='pop-card'>
            <div class="card-header pb-0">
               <h5>Population Characteristics</h5>
            </div>
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-3 pt-0"for='region'>Select Region</label>
                    <select class="form-select btn-pill digits" onchange="getDemographyData()" id="region" name='region'>
                        <option value=0>-----Select Area-----</option>
                        {% for d in dobj %}
                        <option value={{d.id}}>{{d.area_name}}</option>
                        {% endfor %}
                    </select>
                 </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" style='width:160px'>Population Size (N)</label>
                     <br>
                     <div class="col-sm-9">
                        <input class="form-control" id="pop_size" name='pop_size' type="text" placeholder="100-20000">
                     </div>
                  </div>
                  <h6>Gender Distribution (in %):</h6>
                  <div class="mb-3 row">
                     <br>
                     <label class="col-sm-3 col-form-label" for="male">Male</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="male" name='male' type="text" placeholder="0-100">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="female">Female</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="female" name="female" type="text" placeholder="0-100">
                     </div>
                  </div>
                  <h6>Ethnicity Distribution (in %):</h6>
                  <div class="mb-3 row">
                     <br>
                     <label class="col-sm-3 col-form-label" for="white">White</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="white" name='white' type="text" placeholder="0-100">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="black">Black</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="black" name='black' type="text" placeholder="0-100">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <br>
                     <label class="col-sm-3 col-form-label" for="asian">Asian</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="asian" name='asian' type="text" placeholder="0-100">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="other">Other</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="other" name='other' type="text" placeholder="0-100">
                     </div>
                  </div>
                  <h6>Age Distribution (in %):</h6>
                  <div class="mb-3 row">
                     <br>
                     <label class="col-sm-3 col-form-label" for="child">Children (0-14)</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="child" name='child' type="text" placeholder="0-100">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="adult">Adult (15-54)</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="adult" name='adult' type="text" placeholder="0-100">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="senior">Senior (55+)</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="senior" name='senior' type="text" placeholder="0-100">
                     </div>
                  </div>
            </div>
         </div>
         <div class="card" id='fac-card' style='display: none;'>
            <div class="card-header pb-0">
               <h5>Select Images</h5>
            </div>
            <div class="card-body">
               <div class="mb-3 row">
                  <label class="col-sm-3 col-form-label">Upload File</label>
                  <div class="col-sm-9">
                     <input class="form-control" type="file">
                  </div>
               </div>
               <div class="mb-3 row">
                  <button class="btn btn-primary">Upload</button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <br>
         <div class="card" style='top:45px' name='model'>
            <div class="card-header pb-0">
               <h5>Model Characteristics</h5>
            </div>
            <div class="card-body">
                  <fieldset class="mb-3">
                     <div class="row">
                        <label class="col-form-label col-sm-3 pt-0">Model Type</label>
                        <div class="col-sm-9">
                           <div class="form-check radio radio-primary">
                              <input class="form-check-input" id="si_model" type="radio" name="model" value="0">
                              <label class="form-check-label" for="si_model">SI (Susceptible-Infected)</label>
                           </div>
                           <div class="form-check radio radio-primary">
                              <input class="form-check-input" id="sis_model" type="radio" name="model" value="1">
                              <label class="form-check-label" for="sis_model">SIS (Susceptible-Infected-Susceptible)</label>
                           </div>
                           <div class="form-check radio radio-primary">
                              <input class="form-check-input" id="sir_model" type="radio" name="model" value="2">
                              <label class="form-check-label" for="sir_model">SIR (Susceptible-Infected-Removed)</label>
                           </div>
                        </div>
                     </div>
                  </fieldset>
                  <div class="mb-3 row">
                     <label class="col-form-label col-sm-3 pt-0"for='graph'>Select Graph</label>
                     <select class="form-select btn-pill digits" onchange="switchGraph()" id="graph" name='graph_type'>
                        <option default='true' value=0>Activity Network</option>
                        <option value=1>Albert Barabasi</option>
                     </select>
                  </div>
                  <div class="mb-3 row" id=conn style = 'display: none;'>
                     <br>
                     <label class="col-sm-3 col-form-label" for="m">No. of Connections (m)</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="m" name='m' type="text" placeholder="1-10">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <br>
                     <label class="col-sm-3 col-form-label" for="time">Time (in Days)</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="time" name='time' type="text" placeholder="10-500">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <br>
                     <label class="col-sm-3 col-form-label" for="seeds">Seeds</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="seeds" name='seeds' type="number" placeholder="0-N">
                     </div>
                  </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="card" style='top:65px' name='model'>
            <div class="card-header pb-0">
               <h5>Infection Parameters</h5>
            </div>
            <div class="card-body">
                  <h6>Infection Rates for Ethnicity:</h6>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="white_inf">White</label>
                     <div class="col-sm-9">
                        <input width=25 class="form-control" id="white_inf" name='white_inf' type="text" placeholder="0-1">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="black_inf">Black</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="black_inf" name='black_inf' type="text" placeholder="0-1">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="asian_inf">Asian</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="asian_inf" name='asian_inf' type="text" placeholder="0-1">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="other_inf">Other</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="other_inf" name='other_inf' type="text" placeholder="0-1">
                     </div>
                  </div>
                  <h6>Infection Rates for Gender:</h6>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="male_inf">Male</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="male_inf" name='male_inf' type="text" placeholder="0-1">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="female_inf">Female</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="female_inf" name='female_inf' type="text" placeholder="0-1">
                     </div>
                  </div>
                  <h6>Infection Rates for Age Groups:</h6>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="child_inf">Child</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="child_inf" name='child_inf' type="text" placeholder="0-1">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="adult_inf">Adult</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="adult_inf" name='adult_inf' type="text" placeholder="0-1">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-sm-3 col-form-label" for="senior_inf">Senior</label>
                     <div class="col-sm-9">
                        <input class="form-control" id="senior_inf" name='senior_inf' type="text" placeholder="0-1">
                     </div>
                  </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3" id='rec-card'>
        <div class="card" style='top:65px' name='recovery'>
           <div class="card-header pb-0">
              <h5>Recovery Parameters</h5>
           </div>
           <div class="card-body">
                 <h6>Recovery Rates for Ethnicity:</h6>
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label" for="white_rec">White</label>
                    <div class="col-sm-9">
                       <input width=25 class="form-control" id="white_rec" name='white_rec' type="text" placeholder="0-1">
                    </div>
                 </div>
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label" for="black_rec">Black</label>
                    <div class="col-sm-9">
                       <input class="form-control" id="black_rec" name='black_rec' type="text" placeholder="0-1">
                    </div>
                 </div>
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label" for="asian_rec">Asian</label>
                    <div class="col-sm-9">
                       <input class="form-control" id="asian_rec" name='asian_rec' type="text" placeholder="0-1">
                    </div>
                 </div>
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label" for="other_rec">Other</label>
                    <div class="col-sm-9">
                       <input class="form-control" id="other_rec" name='other_rec' type="text" placeholder="0-1">
                    </div>
                 </div>
                 <h6>Recovery Rates for Gender:</h6>
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label" for="male_rec">Male</label>
                    <div class="col-sm-9">
                       <input class="form-control" id="male_rec" name="male_rec" type="text" placeholder="0-1">
                    </div>
                 </div>
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label" for="female_rec">Female</label>
                    <div class="col-sm-9">
                       <input class="form-control" id="female_rec" name="female_rec" type="text" placeholder="0-1">
                    </div>
                 </div>
                 <h6>Recovery Rates for Age Groups:</h6>
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label" for="child_rec">Child</label>
                    <div class="col-sm-9">
                       <input class="form-control" id="child_rec" name="child_rec" type="text" placeholder="0-1">
                    </div>
                 </div>
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label" for="adult_rec">Adult</label>
                    <div class="col-sm-9">
                       <input class="form-control" id="adult_rec" name="adult_rec" type="text" placeholder="0-1">
                    </div>
                 </div>
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label" for="senior_rec">Senior</label>
                    <div class="col-sm-9">
                       <input class="form-control" id="senior_rec" name="senior_rec" type="text" placeholder="0-1">
                    </div>
                 </div>
               </form>
           </div>
        </div>
     </div>
   </div>
   <!-- Container-fluid Ends-->
</div>
<script>
   function switchGraph(){
    var val = document.getElementById('graph').value;
    var obj = document.getElementById('conn');
    if(val == 0){
        obj.style.display = 'none';
    }
    else if(val == 1){
        obj.style.display = 'block';
    } 
}
    function getDemographyData(){
        var id = document.getElementById('region').value;
        $.ajax({
            url:'/semi-auto/get_data',
            type: 'POST',
            data:{
                id:id,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(data){
                var n_obj = document.getElementById('pop_size').value = data.population;
                var white = document.getElementById('white').value = data.white;
                var black = document.getElementById('black').value = data.black;
                var asian = document.getElementById('asian').value = data.asian;
                var other = document.getElementById('other').value = data.other;
                var male = document.getElementById('male').value = data.male;
                var female = document.getElementById('female').value = data.female;
                var child = document.getElementById('child').value = data.child;
                var adult = document.getElementById('adult').value = data.adult;
                var senior = document.getElementById('senior').value = data.senior;
            }
        })
    }
</script>
{% include 'common/footer.html' %}