<div class="col-sm-3">
    <div class="card" style='top:123px' name='model'>
       <div class="card-header pb-0">
          <h5>Infection Parameters</h5>
       </div>
       <div class="card-body">
          <h6>Infection Rates for Ethnicity:</h6>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="white_inf">White</label>
             <div class="col-sm-9">
                <input width=25 class="form-control" onclick="hideMyAlert('white_inf_alert')"
                   id="white_inf" name='white_inf' type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="white_inf_alert"%}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="black_inf">Black</label>
             <div class="col-sm-9">
                <input class="form-control" id="black_inf" onclick="hideMyAlert('black_inf_alert')"
                   name='black_inf' type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="black_inf_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="asian_inf">Asian</label>
             <div class="col-sm-9">
                <input class="form-control" id="asian_inf" onclick="hideMyAlert('asian_inf_alert')"
                   name='asian_inf' type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="asian_inf_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="other_inf">Other</label>
             <div class="col-sm-9">
                <input class="form-control" id="other_inf" onclick="hideMyAlert('other_inf_alert')"
                   name='other_inf' type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="other_inf_alert" %}
          </div>
          <h6>Infection Rates for Gender:</h6>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="male_inf">Male</label>
             <div class="col-sm-9">
                <input class="form-control" id="male_inf" name='male_inf'
                   onclick="hideMyAlert('male_inf_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="male_inf_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="female_inf">Female</label>
             <div class="col-sm-9">
                <input class="form-control" id="female_inf"
                   onclick="hideMyAlert('female_inf_alert')" name='female_inf' type="text"
                   placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="female_inf_alert" %}
          </div>
          <h6>Infection Rates for Age Groups:</h6>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="child_inf">Child</label>
             <div class="col-sm-9">
                <input class="form-control" id="child_inf" name='child_inf'
                   onclick="hideMyAlert('child_inf_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="child_inf_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="adult_inf">Adult</label>
             <div class="col-sm-9">
                <input class="form-control" id="adult_inf" name='adult_inf'
                   onclick="hideMyAlert('adult_inf_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="adult_inf_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="senior_inf">Senior</label>
             <div class="col-sm-9">
                <input class="form-control" id="senior_inf" name='senior_inf'
                   onclick="hideMyAlert('senior_inf_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="senior_inf_alert" %}
          </div>
       </div>
    </div>
 </div>
 <div class="col-sm-3" id='rec-card'>
    <div class="card" style='top:123px' name='recovery'>
       <div class="card-header pb-0">
          <h5>Recovery Parameters</h5>
       </div>
       <div class="card-body">
          <h6>Recovery Rates for Ethnicity:</h6>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="white_rec">White</label>
             <div class="col-sm-9">
                <input width=25 class="form-control" id="white_rec" name='white_rec'
                   onclick="hideMyAlert('white_rec_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="white_rec_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="black_rec">Black</label>
             <div class="col-sm-9">
                <input class="form-control" id="black_rec" name='black_rec'
                   onclick="hideMyAlert('black_rec_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="black_rec_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="asian_rec">Asian</label>
             <div class="col-sm-9">
                <input class="form-control" id="asian_rec" onclick="hideMyAlert('asian_rec_alert')"
                   name='asian_rec' type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="asian_rec_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="other_rec">Other</label>
             <div class="col-sm-9">
                <input class="form-control" id="other_rec" onclick="hideMyAlert('other_rec_alert')"
                   name='other_rec' type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="other_rec_alert" %}
          </div>
          <h6>Recovery Rates for Gender:</h6>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="male_rec">Male</label>
             <div class="col-sm-9">
                <input class="form-control" id="male_rec" name="male_rec"
                   onclick="hideMyAlert('male_rec_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="male_rec_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="female_rec">Female</label>
             <div class="col-sm-9">
                <input class="form-control" id="female_rec" name="female_rec"
                   onclick="hideMyAlert('female_rec_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="female_rec_alert" %}
          </div>
          <h6>Recovery Rates for Age Groups:</h6>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="child_rec">Child</label>
             <div class="col-sm-9">
                <input class="form-control" onclick="hideMyAlert('child_rec_alert')" id="child_rec"
                   name="child_rec" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="child_rec_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="adult_rec">Adult</label>
             <div class="col-sm-9">
                <input class="form-control" id="adult_rec" name="adult_rec"
                   onclick="hideMyAlert('adult_rec_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="adult_rec_alert" %}
          </div>
          <div class="mb-3 row">
             <label class="col-sm-3 col-form-label" for="senior_rec">Senior</label>
             <div class="col-sm-9">
                <input class="form-control" id="senior_rec" name="senior_rec"
                   onclick="hideMyAlert('senior_rec_alert')" type="text" placeholder="0-1">
             </div>
             <br>
             <br>
             {% include "includes/error_message.html" with alert_id="senior_rec_alert" %}
          </div>
       </div>
    </div>
 </div>