<div class="card" id='pop-card'>
    <div class="card-header pb-0">
       <h5>Population Characteristics</h5>
    </div>
    <div class="card-body">
       <div class="mb-3 row">
          <div class="mb-3 row" id=reg-card style="display: none;">
             <label class="col-form-label col-sm-3 pt-0" for='region'>Select Region</label>
             <select class="form-select btn-pill digits" onchange="getDemographyData()" id="region"
                name='region'>
                <option value=0>-----Select Area-----</option>
                {% for d in dobj %}
                <option value="{{d}}">{{d}}</option>
                {% endfor %}
             </select>
          </div>
          <label class="col-sm-3 col-form-label" for="pop_size">Population Size (N)</label>
          <div class="col-sm-9">
             <input class="form-control" onclick="hideMyAlert('pop_size_alert')" id='pop_size' name="pop_size"
                type="text" placeholder="100-20000">
          </div>
          {% include "includes/error_message.html" with alert_id="pop_size_alert" %}
       </div>
       <h6>Gender Distribution:</h6>
       <div class="mb-3 row">
          <br>
          <label class="col-sm-3 col-form-label" for="male">Male (%)</label>
          <div class="col-sm-9">
             <input class="form-control" id='male' onclick="hideMyAlert('male_alert')" name="male" type="text"
                placeholder="0-100">
          </div>
          <br>
          <br>
          {% include "includes/error_message.html" with alert_id="male_alert" %}
       </div>
       <div class="mb-3 row">
          <label class="col-sm-3 col-form-label" for="female">Female (%)</label>
          <div class="col-sm-9">
             <input class="form-control" id='female' name="female" onclick="hideMyAlert('female_alert')"
                type="text" placeholder="0-100">
          </div>
          <br>
          <br>
          {% include "includes/error_message.html" with alert_id="female_alert" %}
          {% include "includes/error_message.html" with alert_id="gender_alert" %}
       </div>
       <h6>Ethnicity Distribution:</h6>
       <div class="mb-3 row">
          <br>
          <label class="col-sm-3 col-form-label" for="white">White (%)</label>
          <div class="col-sm-9">
             <input class="form-control" name="white" onclick="hideMyAlert('white_alert')" id='white' type="text"
                placeholder="0-100">
          </div>
          <br>
          <br>
          {% include "includes/error_message.html" with alert_id="white_alert" %}
       </div>
       <div class="mb-3 row">
          <label class="col-sm-3 col-form-label" for="black">Black (%)</label>
          <div class="col-sm-9">
             <input class="form-control" name="black" id='black' onclick="hideMyAlert('black_alert')" type="text"
                placeholder="0-100">
          </div>
          <br>
          <br>
          {% include "includes/error_message.html" with alert_id="black_alert" %}
       </div>
       <div class="mb-3 row">
          <br>
          <label class="col-sm-3 col-form-label" for="asian">Asian (%)</label>
          <div class="col-sm-9">
             <input class="form-control" name="asian" id='asian' onclick="hideMyAlert('asian_alert')" type="text"
                placeholder="0-100">
          </div>
          <br>
          <br>
          {% include "includes/error_message.html" with alert_id="asian_alert" %}
       </div>
       <div class="mb-3 row">
          <label class="col-sm-3 col-form-label" for="other">Other (%)</label>
          <div class="col-sm-9">
             <input class="form-control" name="other" id='other' onclick="hideMyAlert('other_alert')" type="text"
                placeholder="0-100">
          </div>
          <br>
          <br>
          {% include "includes/error_message.html" with alert_id="other_alert" %}
          {% include "includes/error_message.html" with alert_id="ethnicity_alert" %}
       </div>
       <h6>Age Distribution:</h6>
       <div class="mb-3 row">
          <br>
          <label class="col-sm-3 col-form-label" for="child">Children (%)</label>
          <div class="col-sm-9">
             <input class="form-control" name="child" onclick="hideMyAlert('child_alert')" id='child' type="text"
                placeholder="0-100">
          </div>
          <br>
          <br>
          {% include "includes/error_message.html" with alert_id="child_alert" %}
       </div>
       <div class="mb-3 row">
          <label class="col-sm-3 col-form-label" for="adult">Adult (%)</label>
          <div class="col-sm-9">
             <input class="form-control" onclick="hideMyAlert('adult_alert')" name="adult" id='adult' type="text"
                placeholder="0-100">
          </div>
          <br>
          <br>
          {% include "includes/error_message.html" with alert_id="adult_alert" %}
       </div>
       <div class="mb-3 row">
          <label class="col-sm-3 col-form-label" for="senior">Senior (%)</label>
          <div class="col-sm-9">
             <input class="form-control" onclick="hideMyAlert('senior_alert')" name="senior" id='senior'
                type="text" placeholder="0-100">
          </div>
          <br>
          <br>
          {% include "includes/error_message.html" with alert_id="senior_alert" %}
          {% include "includes/error_message.html" with alert_id="age_alert" %}
       </div>
    </div>
 </div>