<h4>Infection Spread In Different Dimensions</h4>
<br>
<div class='row'>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Spread of Infection in Ethnic Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Eth_Infection"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Eth_Infection')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Spread of Infection in Gender Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Gen_Infection"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Gen_Infection')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Spread of Infection in Age Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Age_Infection"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Age_Infection')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
</div>
<h4>RECOVERY</h4>
<br>
<div class ='row'>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Recovery in Entire community</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Total_Recovery"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Total_Recovery')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Recovery in Ethnic Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Eth_Recovery"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Eth_Recovery')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Recovery in Gender Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Gen_Recovery"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Gen_Recovery')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Recovery in Age Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Age_Recovery"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Age_Recovery')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
</div>
<h4>SUSCEPTIBILITY</h4>
<br>
<div class ='row'>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Susceptibility in Entire Community</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Tot_Sus"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Tot_Sus')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Susceptibility in Ethnic Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Eth_Sus"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Eth_Sus')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Susceptibility in Gender Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Gen_Sus"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Gen_Sus')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Susceptibility in Age Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Age_Sus"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Age_Sus')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
</div>