<h4>RECOVERY</h4>
<br>
<div class ='row'>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Recovery in Entire community</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Total_Recovery"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Total_Recovery')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Recovery in Ethnic Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Eth_Recovery"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Eth_Recovery')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Recovery in Gender Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Gen_Recovery"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Gen_Recovery')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-md-12 box-col-12">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Recovery in Age Groups</h5>
         </div>
         <div class="card-body chart-block">
            <canvas id="Age_Recovery"></canvas>
            <button class='btn btn-success' id='save-png' onclick="saveAsImage('Age_Recovery')" type='button'>Download as PNG</button>
         </div>
      </div>
   </div>
</div>