{% include 'common/header.html' %}
{% load static %}
{% block head-js %}
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}
<div class="page-body-wrapper horizontal-menu">
   <div class="page-body" style="margin-left: 10px;">
      <!-- Container-fluid starts-->
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-4">
               <h2>COVID-19 Auto Simulation</h2>
               <br>
               <button class='btn btn-success' id='man-but' onclick="switchManual()" type='button'>Create Manual
               Nodes
               </button>
               <button class='btn btn-light' id='fac-but' onclick="switchFacial()" type='button'>Use Facial
               Recognition
               </button>
               <br>
               <br>
               {# add facial-recognition form#}
               {% include "includes/facial_rec_form.html" %}                 
               <form class="theme-form" onsubmit="return validateForm()" action="/covid19/result" enctype="multipart/form-data" method="POST" name='myForm' id='myForm'>
                  {% csrf_token %}
                  {# add region based network form#}
                  {% include "includes/region_based_network_form.html" %}
            </div>
            <div class="col-sm-4">
            <br>
            <br>
            <br>
            <div style="top:4px;left:-177px;position: relative;">
            <button class='btn btn-light' id='reg-but' onclick="switchRegional()" type='button'>Region-based
            Nodes
            </button>
            </div>
            <div class="card" style='top:25px' name='model'>
            <div class="card-header pb-0">
            <h5>Model Characteristics</h5>
            </div>
            <div class="card-body">
            <fieldset class="mb-3">
            <div class="row">
            <label class="col-form-label col-sm-3 pt-0">Model</label>
            <div class="col-sm-9">
            <div class="form-check radio radio-primary">
            <input class="form-check-input" id="si" type="radio" name="model" value="0"
               checked>
            <label class="form-check-label" for="si">SI (Susceptible-Infected)</label>
            </div>
            <div class="form-check radio radio-primary">
            <input class="form-check-input" id="sis" type="radio" name="model"
               value="1">
            <label class="form-check-label" for="sis">SIS
            (Susceptible-Infected-Susceptible)</label>
            </div>
            <div class="form-check radio radio-primary">
            <input class="form-check-input" id="sir" type="radio" name="model"
               value="2">
            <label class="form-check-label" for="sir">SIR
            (Susceptible-Infected-Removed)</label>
            </div>
            </div>
            </div>
            </fieldset>
            <div class="mb-3 row">
            <br>
            <label class="col-sm-3 col-form-label" for="time">Time (in Days)</label>
            <div class="col-sm-9">
            <input class="form-control" id='time' onclick="hideMyAlert('time_alert')"
               name="time" type="text" placeholder="10-500">
            </div>
            <br>
            <br>
            <div class="alert alert-danger outline alert-dismissible fade show" name='time_alert'
               style='display: none;' role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-alert-triangle">
            <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
            <line x1="12" y1="9" x2="12" y2="13"></line>
            <line x1="12" y1="17" x2="12" y2="17"></line>
            </svg>
            <p id='time_alert'>Population size must not be NULL.</p>
            </div>
            </div>
            <div class="mb-3 row">
            <br>
            <label class="col-sm-3 col-form-label" for="seeds">Seeds (in %)</label>
            <div class="col-sm-9">
            <input class="form-control" id='seeds' onclick="hideMyAlert('seeds_alert')"
               name="seeds" type="text" placeholder="0-100">
            </div>
            <br>
            <br>
            <div class="alert alert-danger outline alert-dismissible fade show"
               style='display: none;' name='seeds_alert' role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-alert-triangle">
            <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
            <line x1="12" y1="9" x2="12" y2="13"></line>
            <line x1="12" y1="17" x2="12" y2="17"></line>
            </svg>
            <p id='seeds_alert'>Population size must not be NULL.</p>
            </div>
            </div>
            <div class="card-footer">
            <button type='submit' class="btn btn-primary">Start Simulation</button>
            <button class="btn btn-secondary">Reset Values</button>
            </div>
            </form>
            </div>
            </div>
            </div>
         </div>
      </div>
      <!-- Container-fluid Ends-->
   </div>
   <script src="{% static 'js/common.js' %}"></script>
   {% include 'common/footer.html' %}
</div>