<h4>Infection Spread In Different Dimensions</h4>
<br>

<div class='row'>
    {% with 'Ethnic Gender Age' as group_list %}
        {% for group in group_list.split %}
            <div class="col-xl-6 col-md-12 box-col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Spread of Infection in {{ group }} Groups</h5>
                        </div>
                        <div class="card-body chart-block">
                        <canvas id="{{ group }}_Infection"></canvas>
                        <button class='btn btn-success' id='save-png' onclick="saveAsImage('{{ group }}_Infection')" type='button'>Download as PNG</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endwith %}

</div>
<h4>SUSCEPTIBILITY</h4>
<br>
<div class='row'>
    {% with 'Total Ethnic Gender Age' as group_list %}
        {% for group in group_list.split %}
            <div class="col-xl-6 col-md-12 box-col-12">
                <div class="card">
                    <div class="card-header pb-0">
                    {% if group == "Total" %}
                        <h5>Susceptibility in Entire Community</h5>
                    {% else %}
                        <h5>Susceptibility in {{ group }} Groups</h5>
                    {% endif %}
                    </div>
                    <div class="card-body chart-block">
                        <canvas id="{{ group }}_Sus"></canvas>
                        <button class='btn btn-success' id='save-png' onclick="saveAsImage('{{ group }}_Sus')" type='button'>Download as PNG</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endwith %}
</div>