{% include 'common/header.html' %}
<div class="page-body-wrapper horizontal-menu">
  <!-- Page Sidebar Start-->

  <!-- Page Sidebar Ends-->
  <div class="page-body" style="margin-left: 10px;">
     <div class="container-fluid">
        <div class="page-header">
           <div class="row">
              
              <div class="col-sm-6">
                 <!-- Bookmark Start-->
 
                 <!-- Bookmark Ends-->
              </div>
           </div>
        </div>
     </div>
     <!-- Container-fluid starts-->
     <div class="container-fluid">
        <div class="row">
           <div class="col-sm-12">
              <div class="card">
                 <div class="card-header pb-0">
                    <h5>About SimulatorX</h5>
                    
                 </div>
                 <div class="card-body">
                    <p>SimulatorX is a product of the research project titled "Epidemic Spread Prediction Using Facial Recognition And Distancing Systems". The software mainly focuses on epidemic simulations through network theory considering biological cues like age, gender, and ethnicity of the target population.
                       Three epidemiological models are supported for simulations: SI, SIS, and SIR. Further, it also provides flexibility to switch network graphs.</p>
                 </div>
              </div>
              <div class="card">
               <div class="card-header pb-0">
                  <h5>What's new in SoftwareX?</h5>
               </div>
               <div class="card-body">
                  <p>The software uses facial recognition system to extract three biological characteristics: age, gender, and ethnicity. These characteristics are then used to simulate through the disease network and find the prediction of chances to get infected by the disease. </p>
               </div>
            </div>
           </div>
        </div>
     </div>
     <!-- Container-fluid Ends-->
  </div>
{% include 'common/footer.html' %}